body {
 

   background-repeat: no-repeat;
   background-size: cover;
 font-family: 'Raleway', sans-serif;
}   

  select{
    width:20%;

    padding: 16px 20px;

    -moz-appearance: none;/*firefox oku kaldırır*/

    border: none;

    font-size: 16px;

    border-radius: 4px;

    background-color: #FFF;
}
input[type=text], select {
  width:100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password], select {
  width:100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
label {
    cursor: pointer;
    color: black;
    font-size: large;
    font-weight: bold;
}
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
 
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #4e73df;
}

div {
  border-radius: 5px;
 
  padding-left: 3px;
  padding-right:6px;
}
input[type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

.balance-wrapper{
  display: flex;
  flex-direction: row;
  
}

.main-section{
  width:80%;
  margin:0 auto;
  text-align: center;
  padding: 0px 5px;
}
.dashbord{
  width:32%;
  display: inline-block;
  background-color:#34495E;
  color:#fff;
  margin-top: 50px; 
}
.icon-section i{
  font-size: 30px;
  padding:10px;
  border:1px solid #fff;
  border-radius:50%;
  margin-top:-25px;
  margin-bottom: 10px;
  background-color:#34495E;
}
.icon-section p{
  margin:0px;
  font-size: 20px;
  padding-bottom: 10px;
}
.detail-section{
  background-color: #2F4254;
  padding: 5px 0px;
}
.dashbord .detail-section:hover{
  background-color: #5a5a5a;
  cursor: pointer;
}
.detail-section a{
  color:#fff;
  text-decoration: none;
}
.dashbord-green .icon-section,.dashbord-green .icon-section i{
  background-color: #16A085;
}
.dashbord-green .detail-section{
  background-color: #149077;
}
.dashbord-orange .icon-section,.dashbord-orange .icon-section i{
  background-color: #F39C12;
}
.dashbord-orange .detail-section{
  background-color: #DA8C10;
}
.dashbord-blue .icon-section,.dashbord-blue .icon-section i{
  background-color: #2980B9;
}
.dashbord-blue .detail-section{
  background-color:#2573A6;
}
.dashbord-red .icon-section,.dashbord-red .icon-section i{
  background-color:#E74C3C;
}
.dashbord-red .detail-section{
  background-color:#CF4436;
}
.dashbord-skyblue .icon-section,.dashbord-skyblue .icon-section i{
  background-color:#8E44AD;
}
.dashbord-skyblue .detail-section{
  background-color:#803D9B;
}

.icon-red{
  background-color:#ff0000!important;
}

.sidebar .nav-item .nav-link .img-profile, .topbar .nav-item .nav-link .img-profile {
    height: 3rem;
    width: 3rem;
}