.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
table, th, td {
	background-color:#B4EEA2;
  
}


.one-box{
	width:100%;
	height:100%;
	
    background-image: url("homepage.jpg");
	text-align: left;
	background-color: #cccccc;
   background-repeat: no-repeat;
   background-size: cover;
	/*padding: 30px 30px;*/
}

.one-box h2
{
	position: absolute;
	
	line-height: 1.5em;
	text-transform: none;
	font-family: georgia;
	font-size: 40px;
	letter-spaceing: 10px;
	text-align: center;
	margin-top: 50px;
	margin-left: 650px;
}

.one-box h3
{
	
	-webkit-text-fill-color: black;
	-webkit-animation: fill 0.5s infinite alternate;
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 540px;
	margin-top: 200px;
	font-size: 30px;
}

.one-box input[type="text"],input[type="password"]
{
	/*display: block;*/
	box-sizing: border-box;
	width: 450px;
	height: 32px;
	background: transparent;
	outline: none;
	border: 0px solid;
	border-bottom: 1.5px solid white;
	font-size: 22px;
	margin-bottom: 12px;
	font-family: sans-serif;
	font-weight: 300;
	transition: 0.25 ease;
	
}
input[type="text"]:hover,input[type="password"]:hover
{
	border-bottom-color: black;
}

input[type="submit"]
{
	background: white ;
	border-color: transparent;
	width: 400px;
	color: black;
	font-size: 28px;
	font-weight: bold;
	letter-spacing: 1px;
	height: 35px;
	margin-top: 480px;
	margin-left: 560px;
	border-radius: 25px;
}

input[type="submit"]:hover
{
	background-color:#4CAF50;
	cursor: pointer;
	color: white;
	
}
button {
  border: none;
  color: black;
  padding: 12px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #4CAF50
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding:1px 50px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 3px solid green;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: black;
}
